body {
    margin: 0;
}

/*header*/
.header {
    text-align: center;
    color: #ffffff;
    background-color: #004344;
    margin-top: 0;
    margin-bottom: 0;
    padding: 16px
}


/* content*/
body {
    background-color: #007A7B;
}

.content {
    width: 80%;
    max-width: 1024px;
    margin: 0 auto;
    background-color: #C4FFFE;
    padding: 16px 16px 8px 16px;
    border-radius: 0px 0px 8px 8px;
}

.description {
    margin-top: 0px;
    line-height: 1.5;
}

.strong-text {
    font-weight: bold;
}

.image {
    border-radius: 50%;

}

.table {
    width: 100%;
    margin: auto
}

.table td {
    text-align: center;
    ;
}


.vertical-align-top {
    vertical-align: top;
}

.buddy-table table td,
.buttercup-table table td {
    padding: 0px 0px 4px 8px;
    line-height: 1.5;
}

#buddyButton,
#buttercupButton {
    padding: 8px 16px;
    border: 0;
    border-radius: 4px;
    background-color: #DE0051;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
}

#buddyButton:hover,
#buttercupButton:hover {
    background-color: #FF426C;
}

.hide {
    display: none;
}


/*footer*/
footer {
    text-align: center;
    color: #ffffff;
    background-color: #007A7B;
    margin-top: 0;
    padding: 16px;
}