body {
    margin: 0;
}

/*header*/
 .header {
     text-align: center;
     color: #ffffff;
     background-color: #000000;
     margin-top: 0;
     padding: 16px
 }  


 /* content*/
 body {
     background-color: lightcyan;
 }
 .content{
     width: 80%;
     max-width: 1024px;
     margin: 0 auto;   
     background-color: #fff;
     padding: 0 16px 8px 16px;
 }


.hide {
    display: none;
}
   

 /*footer*/
footer {
    text-align: center;
    color: #ffffff;
    background-color: #000000;
    margin-top: 0;
    padding: 16px
}
